@import "tailwindcss";
body {
  font-family: 'Bricolage Grotesque', sans-serif;
}
@keyframes bubbleFloat {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-bubble {
  animation: bubbleFloat 4s ease-in-out infinite;
  will-change: transform;
}